:root {
  --yaleblue: #00356b;
  --yaledark: #000a14;
  --yalelightgray: #dddddd;
  --yalemidlightgray: #969696;
  --yalemidgray: #4a4a4a;
  --yaledarkgray: #222222;
  --yalewhite: #f9f9f9;
  --yalelightblue: #63aaff;
  --yaleorange: #bd5319;
  --filterHighlight: #FF5F1F;
  --missingColor: #cc4700;
}

#landing {
  background-color: var(--yalelightgray);
  width: 100vw;
  height: 100vh;
}

#navmenu {
  position: fixed;
  top: 4vh;
  right: 4vh;
}

.menubutton {
  background-color: transparent;
  color: var(--yalemidgray);
  border-radius: 1vh;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  font-size: 7vh;
}

.menubutton:hover {
  border-color: var(--yalemidgray);
}

#landingFooter {
  position: fixed;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
}

#jpffLogo {
  width: 25vw;
  height: auto;
}

#landingContent {
  position: fixed;
  top: 8vh;
  left: 50%;
  transform: translateX(-50%);
}

#landingText {
  color: var(--yalemidgray);
  font-size: 3vh;
  text-align: center;
  margin-top: 4vh;
  font-weight: 100;
}

#landingTitle {
  color: var(--yalemidgray);
  font-size: 12vh;
  text-align: center;
  font-family: quiverleaf-cf;
  font-weight: 700;
}

#landingContent > button {
  border-radius: 5vh;
  border-width: 3px;
  border-style: solid;
  border-color: var(--yalemidgray);
  display: block;
  color: var(--yalemidgray);
  background-color: var(--yalewhite);
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 7vh;
  padding-right: 7vh;
  margin: 0 auto;
  margin-top: 8vh;
  font-weight: 700;
  font-size: 2vh;
}

#landingContent > button:hover {
  border-color: var(--yalelightgray);
}

#canvasContainer {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 30vh;
  bottom: 10vh;
}

.material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  margin: 0;
  font-family: 'Archivo';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0vh;
}

button {
  display: inline-block;
}

svg {
  margin-right: 5vw;
}

#viewpane {
  width: 100vw;
  height: 100vh;
}

#multiClick {
  position: fixed;
  top: -1vh;
  left: 4vw;
}

#multiClick > button {
  font-size: 3vh;
  padding-top: 1.5vh;
}

#infoPanel {
  position: fixed;
  top: 8vh;
  left: 5vh;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: none; /* hides scrollbar in Firefox */
  -ms-overflow-style: none;  /* hides in Internet Explorer 10+ */
  z-index: 1;
  padding: 1vw;
  background-color: transparent;
}

#infoPanel::-webkit-scrollbar { /* hides scrollbar in Safari + Chrome */
    width: 0;
    height: 0;
}

.selectionRemove {
  font-size: 2vh;
  position: absolute;
  top: 0.4rem;
  right: 0.25rem;
  border: none;
  background: none;
  color: transparent;
}

.openDetailScreen {
  font-size: 2vh;
  position: absolute;
  bottom: 0.4rem;
  right: 0.25rem;
  border: none;
  background: none;
  color: transparent;
}

.panelItem:hover > .selectionRemove {
  color: var(--yaledark);
}

.panelItem:hover > .openDetailScreen {
  color: var(--yaledark);
}

.panelItem {
  padding: 1vw;
  margin: 0.5vw;
  border-radius: 2vh;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow: hidden;
}

.panelItem::-webkit-scrollbar { /* hides scrollbar in Safari + Chrome */
    width: 0;
    height: 0;
}

.grid {
  max-width: 36vw;

}

.gridMode {
  width: 9vw;
  height: 9vw;
  display: inline-block;
}

.gridModeSmall {
  width: 4.2vw;
  height: 4.2vw;
  display: inline-block;
}

.fixedOverlay {
  position: absolute;
  top: 1vw;
  left: 1vw;
}

.titleBar {
  display: inline-block;
  font-size: 2.5vh;
}

.titleBarMid {
  font-size: 1.675vh;
}

.titleBarSmall {
  font-size: 1.25vh;
}

.catalog {
  font-size: 1.5vh;
}

.catalogMid {
  font-size: 1.25vh;
}

.catalogSmall {
  font-size: 1vh;
}

.man {
  font-weight: 700;
  float: left;
  color: var(--yalemidgray);
  margin-right: 0.5vh;
}

.lightman {
  color: var(--yalemidlightgray);
}

.bran {
  float: left;
  margin-right: 0.5vh;
}

.year {
  float: left;
  margin-right: 0.335vh;
  font-weight: 100;
}

.boxWord {
  font-size: 1.5vh;
}

.boxWordMid {
  font-size: 1.33vh;
}

.boxWordSmall {
  font-size: 1vh;
}

#detailScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(34,34,34,0.75);
  z-index: 15;
}

#detailImage {
  margin: 0 auto;
  height: 100%;
  width: auto;
  display: block;
  z-index: 16;
}

.detailScreenRemove {
  font-size: 6vh;
  position: fixed;
  top: 4vh;
  right: 4vh;
  z-index: 16;
  border: none;
  background: none;
  color: var(--yalemidlightgray);
}

.detailScreenProcessingInstructions {
  font-size: 6vh;
  position: fixed;
  top: 4vh;
  left: 4vh;
  z-index: 16;
  border: none;
  background: none;
  color: var(--yalemidlightgray);
}

.detailScreenBackprint {
  font-size: 6vh;
  position: fixed;
  top: 12vh;
  left: 4vh;
  z-index: 16;
  border: none;
  background: none;
  color: var(--yalemidlightgray);
}

#previousPanelItem {
  font-size: 12vh;
  position: fixed;
  top: 44vh;
  left: 1vw;
  z-index: 16;
  border: none;
  background: none;
  color: var(--yalemidlightgray);
}

#nextPanelItem {
  font-size: 12vh;
  position: fixed;
  top: 44vh;
  right: 1vw;
  z-index: 16;
  border: none;
  background: none;
  color: var(--yalemidlightgray);
}

#detailScreenInfoBar {
  color: var(--yalewhite);
  background-color: var(--yaledarkgray);
  border: none;
  outline: none;
  font-size: 3vh;
  font-weight: 100;
  position: fixed;
  bottom: 3vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

#cameraReset {
  position: fixed;
  top: 8vh;
  right: 48vw;
}

#cameraReset > button {
  font-size: 3vh;
}

.controls {
  z-index: 1;
  background: transparent;
  color: var(--yalemidlightgray);
  border-radius: 1vh;
}

#glyphControls {
  display: inline-block;
}

#spreadControls {
  display: inline-block;
  width: 10vw;
  margin-right: 2vw;
}

#glyphControls > button {
  font-size: 3vh;
}

#facetControls {
  float: right;
}

#axisMenus {
  float: right;
}

#bottomControls {
  position: fixed;
  left: 0vw;
  bottom: 0vh;
  margin: 1vh;
}

/* all bottom buttons */
#axisMenus > button {
  font-size: 2vh;
  padding: 1vh;
  margin-right: 1vh;
}

#topControls {
  position: fixed;
  right: 4vh;
  top: 8vh;
}

#plottypeControls {
  position: fixed;
  right: -1vw;
  top: 20vh;
  width: 1vw;
  z-index: 1;
}

#plottypeControls > button {
  float: right;
  font-size: 4vh;
  padding: 2vh;
  padding-right: 4vh;
}

#filterControls {
  position: fixed;
  right: -1vw;
  bottom: 17vh;
  width: 1vw;
}

#filterControls > button {
  float: right;
  font-size: 4vh;
  padding: 2vh;
  padding-right: 4vh;
}

#filterModal {
  position: fixed;
  top: 17vh;
  right: 5.5vw;
  height: 70vh;
  overflow-y: auto;
  scrollbar-width: none; /* hides scrollbar in Firefox */
  -ms-overflow-style: none;  /* hides in Internet Explorer 10+ */
  z-index: 1;
  padding: 1vw;
  background-color: transparent;
}

#filterModal::-webkit-scrollbar { /* hides scrollbar in Safari + Chrome */
    width: 0;
    height: 0;
}

.filterCategoryContainer > button.active {
  background-color: var(--yaledarkgray);
  color: var(--yalewhite);
}

.filterButton {
  background-color: var(--yalewhite);
  padding: 1vh;
  margin: 0.25vh;
  color: var(--yalemidgray);
  border-radius: 2vh;
  border-width: 2px;
  border-color: var(--yalemidlightgray);
  border-style: solid;
  font-family: 'Archivo';
  font-size: 1.5vh;
}

.filterButtonActive {
  background-color: var(--yalewhite);
  padding: 1vh;
  margin: 0.25vh;
  color: var(--yalemidgray);
  border-radius: 2vh;
  border-width: 2px;
  border-color: var(--yalelightblue);
  border-style: solid;
  font-family: 'Archivo';
  font-size: 1.5vh;
}

.filterButton:hover {
  border-color: var(--yalewhite) !important;
}

.filterCategoryHeading {
  font-size: 2.25vh;
  color: var(--yalewhite);
  display: inline-block;
  border-radius: 1vh;
  border-width: 1px;
  border-style: solid;
  background-color: var(--yalemidgray);
  border-color: var(--yalemidlightgray);
  padding: 1.5vh;
}

.filterCategoryHeadingContainer {
  margin: 2vh 0 3vh 0;
}

.filterCategoryContainer {
  padding: 1vw;
}

.topline {
  margin-top: 1vh;
}

.replaceFilterWithSelection {
  background-color: var(--yalewhite);
  border-radius: 1vh;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  color: var(--yalemidlightgray);
  position: fixed;
  top: 27vh;
  padding: 1vh;
  font-size: 3vh;
}

.replaceFilterWithSelection:hover {
  border-color: var(--yalewhite);
  color: var(--yaledarkgray);
}

.addFilterToSelection {
  background-color: var(--yalewhite);
  border-radius: 1vh;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  color: var(--yalemidlightgray);
  position: fixed;
  top: 33vh;
  padding: 1vh;
  font-size: 3vh;
}

.addFilterToSelection:hover {
  border-color: var(--yalewhite);
  color: var(--yaledarkgray);
}

.expandButtons {
  background-color: var(--yalewhite);
  border-radius: 1vh;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  color: var(--yalemidlightgray);
  position: fixed;
  top: 51vh;
  padding: 0;
  font-size: 5vh;
}

.expandButtons:hover {
  border-color: var(--yalewhite);
  color: var(--yaledarkgray);
}

.expanded {
  width: 48vw;
}

.open {
  width: 20vw;
}

.filterLightMode {
  border-radius: 1vh;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  position: fixed;
  top: 45vh;
  padding: 1vh;
  font-size: 3vh;
  color: var(--yalemidlightgray);
  background-color: var(--yalewhite);
}

.filterLightMode:hover {
  border-color: var(--yalewhite);
  color: var(--yaledarkgray);
}

.filterLightMode.active {
  background-color: var(--yaledarkgray);
  color: var(--yalewhite);
}

.sliderContainer {
  margin: 6vh auto 4vh;
  padding: 0 4vh 0 4vh;
  max-width: 30vw;
}


#checkboxes {
  float: right;
  font-size: 4vh;
  padding: 2vh;
  height: 100%;
  margin-top: 1vh;
  margin-right: 4vh;
}

input[type=checkbox] {
  transform: scale(1.5);
  margin-right: 1.5vh;
}

#checkboxes > label {
  font-size: 2vh;
  display: inline-block;
  float: right;
  margin-right: 4vh;
}

select {
  font-family: 'Archivo';
  font-size: 2vh;
  border-radius: 1vh;
  border-color: var(--yalemidlightgray);
  padding: 1vh;
  margin: 0.25vh;
  outline: none;
  width: 16vw;
  background-color: transparent;
  color: var(--yalewhite);
}

.controls > button {
  background-color: transparent;
  border-color: var(--yalemidlightgray);
  border-radius: 1vh;
  border-width: 1px;
  border-style: solid;
  outline: none;
  color: var(--yalemidlightgray);
  font-size: 2vh;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0.25vh;
  padding: 1vh;
}

.controls > button:hover {
  background-color: var(--yalewhite);
  border-color: var(--yalewhite);
}

.controls > button.active {
  background-color: var(--yaledarkgray);
  color: var(--yalewhite);
}

.controlsLabel {
  margin: 2vh;
  font-weight: 700;
}
